<div class="container text-center">
    <h1 class=" bg-primary">
        This is Contact
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, ex. Commodi quidem et enim sint recusandae
        vero aliquam est maiores maxime voluptates blanditiis excepturi sit ad unde ipsum esse, veritatis optio saepe
        ipsa nulla nemo reiciendis ea. Voluptatem enim recusandae, et dolores deleniti necessitatibus doloribus?</p>


    <div class="row">
        <div class="col-md-6">
            <app-cardcard-body>
                <h5 class="card-title">Laptop</h5>
                <a href="#" class="btn btn-primary">Know more about laptop</a>

            </app-cardcard-body>
     </div>
        <div class="col-md-6">
            <app-cardcard-body>
                <h5 class="card-title">Mobile</h5>
                <a href="#" class="btn btn-primary">Know more about mobile</a>

            </app-cardcard-body>
        </div>
        <div class="col-md-6">
            <app-cardcard-body>
                <h5 class="card-title">Fridge</h5>
                <a href="#" class="btn btn-primary">Know more about fridge</a>

            </app-cardcard-body>
        </div>
        <div class="col-md-6">
            <app-cardcard-body>
                <h5 class="card-title">Washingmachine</h5>
                <a href="#" class="btn btn-primary">Know more about Washingmachine</a>

            </app-cardcard-body>
        </div>
    </div>