<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     hello world
</body>
</html>



<app-navbar></app-navbar>
<app-mycontainer></app-mycontainer>
<app-binding></app-binding>
<app-style-class-binding></app-style-class-binding>
 <app-event-binding></app-event-binding> 
<app-two-way-binding></app-two-way-binding> 
 <app-ngif-else></app-ngif-else> 
<app-ng-switch></app-ng-switch> 
 <app-ng-for>></app-ng-for>
<app-home></app-home>
<app-about></app-about>
<app-contact></app-contact>
<app-product></app-product> 
<app-pagenotfound></app-pagenotfound>
<app-abdul></app-abdul>
<router-outlet></router-outlet>
