<div class="container text-center">
    <h1 class=" bg-primary">
        This is product
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, ex. Commodi quidem et enim sint recusandae vero aliquam est maiores maxime voluptates blanditiis excepturi sit ad unde ipsum esse, veritatis optio saepe ipsa nulla nemo reiciendis ea. Voluptatem enim recusandae, et dolores deleniti necessitatibus doloribus?</p>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <img class="card-img-top" src="../../assets/laptop.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a [routerLink]="'laptop'" class="btn btn-primary">Select</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="../../assets/mobile.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a [routerLink]="'mobile'" class="btn btn-primary">Select</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="../../assets/fridge.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a [routerLink]="'fridge'" class="btn btn-primary">Select</a>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="../../assets/washingmachine.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a [routerLink]="'washingmachine'" class="btn btn-primary">Select</a>
                </div>
              </div>
            </div>
          </div>   
          
   
